#judul{
    font-family: fantasy;
    text-align: center;
    font-size: 60px;
    color: #00FFFF;
}

h1{
    text-align: center;
    font-family: fantasy;
    font-size: 60px;
    color: #00FFFF;
}        
        
body{background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);}
        
p{
    font-family: arial;
    color: whitesmoke;

}

img{
    width: 250px;
}

div{
    display: inline-block;
    margin-right: 40px;
    margin-left: 60px;
}

.satu{
    font-family: fantasy;
    width: 150px;
    margin-left: 0px;
    text-align: center;
}

.dua{
    font-family: fantasy;
    width: 150px;
    margin-left: 0px;
    text-align: center;
}

.tiga{
    font-family: fantasy;
    width: 150px;
    margin-left: 0px;
    text-align: center;
}

.empat{
    font-family: fantasy;
    width: 150px;
    margin-left: 0px;
    text-align: center;
}

.bungkus-img{
    display: flex;
    margin: auto;
    justify-content: center;
}

.gambar h3{
    text-align: center;
}

.fa-brands{
    font-size: 100px;
}